<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rafael.interviewassistant">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.exemple.rafael.interviewassistant.model.App">
        <activity android:name=".Views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.ConfirmInformationActivity" />
        <activity android:name=".Views.ApresentationActivity" />
        <activity android:name=".Views.VerifyAgeActivity" />
        <activity android:name=".Views.FinishInterviewActivity"></activity>
        <activity android:name=".Views.UseSUS" />
        <activity android:name=".Views.DescribeUseSUS" />
        <activity android:name=".Views.Bhhospital" />
        <activity android:name=".Views.ListHospital" />
        <activity android:name=".Views.UsePlan" />
        <activity android:name=".Views.Hasproblemswithplan" />
        <activity android:name=".Views.Sickness" />
        <activity android:name=".Views.ClassifySUS" />
        <activity android:name=".Views.howgetbetter" />
        <activity android:name=".Views.ListOcupation" />
        <activity android:name=".Views.degreeschool" />
        <activity android:name=".Views.livewith" />
        <activity android:name=".Views.haschildren" />
        <activity android:name=".Views.religion" />
        <activity android:name=".Views.aboutelection" />
        <activity android:name=".Views.willvote" />
        <activity android:name=".Views.howselectcandidate" />
        <activity android:name=".Views.deputadofedaral" />
        <activity android:name=".Views.whattheydo" />
        <activity android:name=".Views.conhecesupersimples" />
        <activity android:name=".Views.aposentado" />
        <activity android:name=".Views.housewife" />
        <activity android:name=".Views.motivodesemprego" />
        <activity android:name=".Views.ClassifyFootball" />
        <activity android:name=".Views.RespDesen"></activity>
        <service android:name=".Views.SendInterviewsInformation"/>
    </application>

</manifest>