<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webinterviewassistantapi20170127095204.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webinterviewassistantapi20170127095204.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebInterviewAssistantApi20170127095204</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebInterviewAssistantApi20170127095204</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="InterviewDbContextConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:webinterviewassistantadmindbserver.database.windows.net,1433;Initial Catalog=WebInterviewAssistantAdmin_db;Persist Security Info=False;User ID=interviewassistant_user;Password=1nterviewA;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:webinterviewassistantadmindbserver.database.windows.net,1433;Initial Catalog=WebInterviewAssistantAdmin_db;Persist Security Info=False;User ID=interviewassistant_user;Password=1nterviewA;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:webinterviewassistantadmindbserver.database.windows.net,1433;Initial Catalog=WebInterviewAssistantAdmin_db;Persist Security Info=False;User ID=interviewassistant_user;Password=1nterviewA;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\InterviewDbContextConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:webinterviewassistantadmindbserver.database.windows.net,1433;Initial Catalog=WebInterviewAssistantAdmin_db;Persist Security Info=False;User ID=interviewassistant_user;Password=1nterviewA;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)InterviewDbContextConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:webinterviewassistantadmindbserver.database.windows.net,1433;Initial Catalog=WebInterviewAssistantAdmin_db;Persist Security Info=False;User ID=interviewassistant_user;Password=1nterviewA;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>